body{
    background-color: black;
    color: white;
}

#rps{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}
#arithmetic{
    display: flex;
}
#firstnum{
    width: 50px;
}
#secondnum{
    width: 50px;
}
#answer{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}
#foreach{
    display: flex;
}
#foreach button{
    width: 50px;
    aspect-ratio: 1/1;
}

#maptest{
    display: flex;
    align-items: center;
}
#maptest button{
    width: 50px;
    aspect-ratio: 1/1;
    margin: 5px;
}
#mapfield{
    flex-grow: 0;
    text-align: center;
    background-color: #333333;
    color: darkgray;
}

#lettertest input{
    width: 400px;
    text-align: center;
    background-color: #333333;
    color: darkgray;
}

#filtertest input{
    width: 300px;
    text-align: center;
    background-color: #333333;
    color: darkgray;
}

#some input{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}
#every input{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}