body{
    background-color: black;
    color: white;
}

#rps{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}
#arithmetic{
    display: flex;
}
#firstnum{
    width: 50px;
}
#secondnum{
    width: 50px;
}
#answer{
    text-align: center;
    background-color: #333333;
    color: darkgray;
}